<div class="container-fluid py-3 employee-layout">
  <div class="row h-100">
    <!-- ================= LEFT: EMPLOYEE DIRECTORY ================= -->
    <div class="col-lg-3 border-end employee-sidebar">
      <div class="employee-sidebar-header">
        <h4 class="fw-bold mb-3">Employee List</h4>
        <!-- Search -->
        <input #searchInput type="text" class="form-control mb-3" placeholder="Search by name, ID or role..."
          (input)="searchTerm.set(searchInput.value)" />
      </div>
      <div *ngIf="isLoading()">Loading employees...</div>
      <ng-container *ngIf="!isLoading() && filteredEmployeeList().length > 0">

        <div class="card employee-card mb-1" [class.disabled]="uiMode() === 'ADD' || uiMode() === 'EDIT'"
          (click)="onEmployeeClick(emp.employeeId)" *ngFor="let emp of filteredEmployeeList()" style="cursor: pointer">
          <div class="card-body">
            <p>Id: {{ emp.employeeId }} </p>
            <p> Name: {{ emp.employeeName }} </p>
             <p> Designation: {{ emp.designationName }}</p>
          </div>
        </div>

      </ng-container>
      <div *ngIf="!isLoading() && filteredEmployeeList().length === 0">
        No employees found
      </div>
    </div>

    <!-- ================= RIGHT: EMPLOYEE MASTER FORM ================= -->
    <div class="col-lg-9 ps-4  employee-body">
      <div class="employee-header d-flex justify-content-between align-items-center ">
        <div>
          <h4 class="fw-bold mb-0">New Employee </h4>
        </div>
        <div class="d-flex gap-1">
          <div class="d-flex gap-1">

            <!-- INITIAL -->
            <button type="button" *ngIf="uiMode() === 'INITIAL'" (click)="startAdd()"
              class="btn btn-sm btn-outline-primary">
              Add
            </button>

            <!-- ADD -->
            <button type="button" *ngIf="uiMode() === 'ADD'" (click)="submit()" class="btn btn-sm btn-outline-success">
              Save
            </button>

            <button type="button" *ngIf="uiMode() === 'ADD'" (click)="cancelEdit()"
              class="btn btn-sm btn-outline-secondary">
              Cancel
            </button>

            <!-- VIEW -->
            <!-- <button type="button" *ngIf="uiMode() === 'VIEW'" (click)="startAdd()"
              class="btn btn-sm btn-outline-primary">
              Add
            </button> -->

            <button type="button" *ngIf="uiMode() === 'VIEW'" (click)="startEdit()"
              class="btn btn-sm btn-outline-warning">
              Edit
            </button>

            <button type="button" *ngIf="uiMode() === 'VIEW'" (click)="deleteEmployee()"
              class="btn btn-sm btn-outline-danger">
              Delete
            </button>

            <button type="button" *ngIf="uiMode() === 'VIEW'" (click)="cancelEdit()"
              class="btn btn-sm btn-outline-secondary">
              Cancel
            </button>


            <!-- EDIT -->
            <button type="button" *ngIf="uiMode() === 'EDIT'" (click)="submit()" class="btn btn-sm btn-outline-success">
              Update
            </button>

            <button type="button" *ngIf="uiMode() === 'EDIT'" (click)="cancelEdit()"
              class="btn btn-sm btn-outline-secondary">
              Cancel
            </button>


          </div>
        </div>
      </div>
      <div class="">
        <form [formGroup]="employeeForm">
          <div class="card-body row g-3">

            <div class="col-md-3">
              <label class="form-label">Employee Name</label>
              <input class="form-control" formControlName="employeeName">
              <div class="text-danger"
                *ngIf="employeeForm.get('employeeName')?.touched && (uiMode() === 'ADD' || uiMode() === 'EDIT') && employeeForm.get('employeeName')?.invalid">
                <div *ngIf="employeeForm.get('employeeName')?.errors?.['required']">
                  Employee Name is required
                </div>
                <div *ngIf="employeeForm.get('employeeName')?.errors?.['minlength']">
                  Minimum 3 characters required
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <label class="form-label">Name (Bangla)</label>
              <input class="form-control" formControlName="employeeNameBangla">
            </div>

            <div class="col-md-3">
              <label class="form-label">Father Name</label>
              <input class="form-control" formControlName="fatherName">
            </div>

            <div class="col-md-3">
              <label class="form-label">Mother Name</label>
              <input class="form-control" formControlName="motherName">
            </div>

            <div class="col-md-3">
              <label class="form-label">Gender</label>
              <select class="form-select" formControlName="idGender">
                <option *ngFor="let g of genders()" [ngValue]="g.id">{{ g.name }}</option>
              </select>

            </div>

            <div class="col-md-3">
              <label class="form-label">Date of Birth</label>
              <input type="date" class="form-control" formControlName="birthDate">
            </div>

            <div class="col-md-3">
              <label class="form-label">Marital Status</label>
              <select class="form-select" formControlName="idMaritalStatus">
                <option *ngFor="let m of maritalStatuses()" [ngValue]="m.id">{{ m.name }}</option>
              </select>
            </div>

            <div class="col-md-3">
              <label class="form-label">Religion</label>
              <select class="form-select" formControlName="idReligion">
                <option *ngFor="let r of religions()" [ngValue]="r.id">{{ r.name }}</option>
              </select>
            </div>

            <div class="col-md-3">
              <label class="form-label">Job Type</label>
              <select class="form-select" formControlName="idJobType">
                <option *ngFor="let j of jobTypes()" [ngValue]="j.id">{{ j.name }}</option>
              </select>
            </div>

            <div class="col-md-3">
              <label class="form-label">Employee Type</label>
              <select class="form-select" formControlName="idEmployeeType">
                <option *ngFor="let e of employeeTypes()" [ngValue]="e.id">{{ e.name }}</option>
              </select>
            </div>

            <div class="col-md-3">
              <label class="form-label">Department </label>
              <select class="form-select" formControlName="idDepartment">
                <option *ngFor="let d of departments()" [ngValue]="d.id">{{ d.name }}</option>
              </select>
              <div class="text-danger" *ngIf="employeeForm.get('idDepartment')?.touched &&
            (uiMode() === 'ADD' || uiMode() === 'EDIT') &&
             employeeForm.get('idDepartment')?.errors?.['required']">
                Department is required
              </div>

            </div>


            <div class="col-md-3">
              <label class="form-label">Section</label>
              <select class="form-select" formControlName="idSection">
                <option *ngFor="let s of sections()" [ngValue]="s.id">{{ s.name }}</option>
              </select>
              <div class="text-danger" *ngIf="employeeForm.get('idSection')?.touched &&
            (uiMode() === 'ADD' || uiMode() === 'EDIT') &&
        employeeForm.get('idSection')?.errors?.['required']">
                Section is required
              </div>

            </div>

            <div class="col-md-3">
              <label class="form-label">Designation</label>
              <select class="form-select" formControlName="idDesignation">
                <option *ngFor="let d of designations()" [ngValue]="d.id">{{ d.name }}</option>
              </select>


            </div>

            <div class="col-md-3">
              <label class="form-label">Joining Date</label>
              <input type="date" class="form-control" formControlName="joiningDate">
            </div>

            <div class="col-md-3">
              <label class="form-label">Week Off</label>
              <select class="form-select" formControlName="idWeekOff">
                <option *ngFor="let w of weekOffs()" [ngValue]="w.id">{{ w.name }}</option>
              </select>
            </div>

            <div class="col-md-3">
              <label class="form-label">Contact No</label>
              <input class="form-control" formControlName="contactNo">

            </div>

            <div class="col-md-3">
              <label class="form-label">National ID</label>
              <input class="form-control" formControlName="nationalIdentificationNumber">
            </div>

            <div class="col-md-3">
              <label class="form-label">Permanent Address</label>
              <input class="form-control" formControlName="address">
            </div>

            <div class="col-md-3">
              <label class="form-label">Present Address</label>
              <input class="form-control" formControlName="presentAddress">
            </div>


            <!-- Employee Image Field -->
            <div class="col-md-3">
              <label class="form-label">Employee Image</label>

              <input type="file" class="form-control mb-2" accept="image/*" (change)="onImageSelect($event)"
                [disabled]="uiMode() !== 'ADD' && uiMode() !== 'EDIT'" />

              <!-- Image Preview -->
              <div class="image-preview-wrapper" *ngIf="employeeImagePreview()" (wheel)="onImageWheel($event)">
                <img [src]="employeeImagePreview()" class="employee-image-preview" alt="Employee Image Preview" />
              </div>
            </div>

            <div class="col-md-6 d-flex align-items-center gap-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" formControlName="hasOvertime">
                <label class="form-check-label">Overtime</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" formControlName="hasAttendenceBonus">
                <label class="form-check-label">Attendance Bonus</label>
              </div>
              <!-- <div class="form-check">
                <input class="form-check-input" type="checkbox" formControlName="isActive">
                <label class="form-check-label">Active</label>
              </div> -->
            </div>
          </div>

          <div class="row mt-5">
            <!-- ================= EDUCATION ================= -->
            <div class="card mb-3 col-md-12">
              <div class="card-header fw-bold d-flex justify-content-between align-items-center">
                Education
                <button type="button" class="btn btn-sm btn-outline-primary" (click)="addEducation()"
                  [disabled]="uiMode() !== 'ADD' && uiMode() !== 'EDIT'">
                  + Add Row
                </button>

              </div>
              <div class="card-body table-responsive">
                <table class="table  table-sm align-middle">
                  <thead class="table-light">
                    <tr>
                      <th style="width: 16%">Education Level</th>
                      <th style="width: 16%">Examination</th>
                      <th style="width: 16%">Result</th>
                      <th style="width: 20%">Major</th>
                      <th style="width: 20%">Institute</th>
                      <th style="width: 12%">Year / CGPA</th>
                      <th style="width: 12%">Actions</th>
                    </tr>
                  </thead>
                  <tbody formArrayName="employeeEducationInfos">
                    <tr *ngFor="let edu of education.controls; let i = index" [formGroupName]="i">
                      <td>
                        <select class="form-select form-select-sm" formControlName="idEducationLevel">
                          <option ngValue="null">Select</option>
                          <option *ngFor="let l of educationLevels()" [ngValue]="l.id">
                            {{ l.name }}
                          </option>
                        </select>

                        <div class="text-danger" *ngIf="edu.get('idEducationLevel')?.errors?.['required']">
                          Education Level is required
                        </div>


                      </td>
                      <td>
                        <select class="form-select form-select-sm" formControlName="idEducationExamination">
                          <option [ngValue]="null">Select</option>
                          <option *ngFor="let e of educationExams()" [ngValue]="e.id">
                            {{ e.name }}
                          </option>
                        </select>
                        <div class="text-danger" *ngIf="edu.get('idEducationExamination')?.errors?.['required']">
                          Examination is required
                        </div>
                      </td>
                      <td>
                        <select class="form-select form-select-sm" formControlName="idEducationResult">
                          <option [ngValue]="null">Select</option>
                          <option *ngFor="let r of educationResults()" [ngValue]="r.id">
                            {{ r.name }}
                          </option>
                        </select>
                        <div class="text-danger" *ngIf="edu.get('idEducationResult')?.errors?.['required']">
                          Result is required
                        </div>
                      </td>
                      <td>
                        <input class="form-control form-control-sm" placeholder="Major / Subject"
                          formControlName="major">

                        <div class="text-danger" *ngIf="edu.get('major')?.errors?.['required']">
                          Major is required
                        </div>

                      </td>
                      <td>
                        <input class="form-control form-control-sm" placeholder="Institute Name"
                          formControlName="instituteName">
                      </td>
                      <td>
                        <div class="d-flex gap-1">
                          <input class="form-control form-control-sm" placeholder="Year" formControlName="passingYear"
                            style="width: 50%;">
                          <input class="form-control form-control-sm" placeholder="CGPA" formControlName="cgpa"
                            style="width: 50%;">
                        </div>

                        <div class="text-danger" *ngIf="edu.get('passingYear')?.errors?.['pattern']">
                          Passing Year must be a 4-digit number
                        </div>
                        <div class="text-danger" *ngIf="edu.get('cgpa')?.errors?.['pattern']">
                          CGPA must be a valid number (e.g., 3.75)
                        </div>


                      </td>

                      <td class="text-center">
                        <button type="button" class="btn btn-sm btn-outline-danger" (click)="removeEducationRow(i)"> ✕
                        </button>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- ================= PROFESSIONAL CERTIFICATIONS ================= -->
            <div class="card mb-3 col-md-12">
              <div class="card-header fw-bold d-flex justify-content-between align-items-center">
                Professional Certifications
                <button type="button" class="btn btn-sm btn-outline-primary" (click)="addCertification()"
                  [disabled]="uiMode() !== 'ADD' && uiMode() !== 'EDIT'">
                  + Add Row
                </button>

              </div>
              <div class="card-body table-responsive">
                <table class="table table-bordered table-sm align-middle">
                  <thead class="table-light">
                    <tr>
                      <th style="width: 22%">Certification Title</th>
                      <th style="width: 22%">Institute</th>
                      <th style="width: 18%">Location</th>
                      <th style="width: 15%">From Date</th>
                      <th style="width: 15%">To Date</th>
                      <th style="width: 8%">Actions</th>
                    </tr>
                  </thead>
                  <tbody formArrayName="employeeProfessionalCertifications">
                    <tr *ngFor="let cert of certifications.controls; let i = index" [formGroupName]="i">
                      <td>
                        <input class="form-control form-control-sm" placeholder="Certification Title"
                          formControlName="certificationTitle">
                        <div class="text-danger" *ngIf="cert.get('certificationTitle')?.errors?.['required']">
                          Certification Title is required
                        </div>
                      </td>
                      <td>
                        <input class="form-control form-control-sm" placeholder="Institute Name"
                          formControlName="certificationInstitute">
                        <div class="text-danger" *ngIf="cert.get('certificationInstitute')?.errors?.['required']">
                          Institute Name is required
                        </div>
                      </td>
                      <td>
                        <input class="form-control form-control-sm" placeholder="Institute Location"
                          formControlName="instituteLocation">
                        <div class="text-danger" *ngIf="cert.get('instituteLocation')?.errors?.['required']">
                          Institute Location is required
                        </div>

                      </td>
                      <td>
                        <input type="date" class="form-control form-control-sm" formControlName="fromDate">

                        <div class="text-danger" *ngIf="cert.get('fromDate')?.errors?.['required']">
                          From Date must be earlier than To Date
                        </div>

                      </td>
                      <td>
                        <input type="date" class="form-control form-control-sm" formControlName="toDate">

                      </td>

                      <td class="text-center">
                        <button type="button" class="btn btn-sm btn-outline-danger" (click)="removeCertificationRow(i)">
                          ✕
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- ================= FAMILY INFORMATION ================= -->
            <div class="card mb-3 col-md-12">
              <div class="card-header fw-bold d-flex justify-content-between align-items-center">
                Family Information


                <button type="button" class="btn btn-sm btn-outline-primary" (click)="addFamily()"
                  [disabled]="uiMode() !== 'ADD' && uiMode() !== 'EDIT'">
                  + Add Row
                </button>

              </div>

              <div class="card-body table-responsive">
                <table class="table table-bordered table-sm align-middle">
                  <thead class="table-light">
                    <tr>
                      <th style="width: 16%">Relation</th>
                      <th style="width: 16%">Name</th>
                      <th style="width: 12%">Gender</th>
                      <th style="width: 14%">Date of Birth</th>
                      <th style="width: 14%">Contact No</th>
                      <th style="width: 14%">Current Address</th>
                      <th style="width: 14%">Permanent Address</th>
                      <th style="width: 8%">Actions</th>
                    </tr>
                  </thead>
                  <tbody formArrayName="employeeFamilyInfos">
                    <tr *ngFor="let fam of family.controls; let i = index" [formGroupName]="i">
                      <td>
                        <select class="form-select form-select-sm" formControlName="idRelationship">
                          <option [ngValue]="null">Select</option>
                          <option *ngFor="let r of relationships()" [ngValue]="r.id">
                            {{ r.name }}
                          </option>
                        </select>

                        <div class="text-danger" *ngIf="fam.get('idRelationship')?.errors?.['required']">
                          Relationship is required
                        </div>

                      </td>
                      <td>
                        <input class="form-control form-control-sm" placeholder="Name" formControlName="name">

                        <div class="text-danger" *ngIf="fam.get('name')?.touched &&
                               fam.get('name')?.errors?.['required']">
                          Name is required
                        </div>

                      </td>
                      <td>
                        <select class="form-select form-select-sm" formControlName="idGender">
                          <option [ngValue]="null">Select</option>
                          <option *ngFor="let g of genders()" [ngValue]="g.id">
                            {{ g.name }}
                          </option>
                        </select>

                        <div class="text-danger" *ngIf="fam.get('idGender')?.errors?.['required']">
                          Gender is required
                        </div>


                      </td>
                      <td>
                        <input type="date" class="form-control form-control-sm" formControlName="dateOfBirth">
                      </td>
                      <td>
                        <input class="form-control form-control-sm" placeholder="Contact No"
                          formControlName="contactNo">
                      </td>
                      <td>
                        <input class="form-control form-control-sm" placeholder="Current Address"
                          formControlName="currentAddress">
                      </td>
                      <td>
                        <input class="form-control form-control-sm" placeholder="Permanent Address"
                          formControlName="permanentAddress">
                      </td>

                      <td class="text-center">
                        <button type="button" class="btn btn-sm btn-outline-danger" (click)="removeFamilyRow(i)"> ✕
                        </button>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- ================= EMPLOYEE DOCUMENTS ================= -->
            <div class="card mb-3 col-md-12">
              <div class="card-header fw-bold d-flex justify-content-between align-items-center">
                Employee Documents
                <button type="button" class="btn btn-sm btn-outline-primary" (click)="addDocument()"
                  [disabled]="uiMode() !== 'ADD' && uiMode() !== 'EDIT'">
                  + Add Row
                </button>
              </div>
              <div class="card-body table-responsive">
                <table class="table table-bordered table-sm align-middle">
                  <thead class="table-light">
                    <tr>
                      <th style="width: 22%">Document Name</th>
                      <th style="width: 22%">File</th>
                      <th style="width: 16%">File Name</th>
                      <th style="width: 16%">Upload Date</th>
                      <th style="width: 12%">Extension</th>
                      <th style="width: 12%">Actions</th>
                    </tr>
                  </thead>
                  <tbody formArrayName="employeeDocuments">
                    <tr *ngFor="let doc of employeeDocuments.controls; let i = index" [formGroupName]="i">

                      <td>
                        <input class="form-control form-control-sm" placeholder="Document Name"
                          formControlName="documentName">

                        <div class="text-danger" *ngIf="doc.get('documentName')?.errors?.['required']">
                          Document name is required
                        </div>

                      </td>
                      <td>
                        <input type="file" class="form-control form-control-sm" (change)="onDocumentSelect($event, i)">
                      </td>

                      <td>
                        <input class="form-control form-control-sm" formControlName="fileName" readonly>

                        <div class="text-danger" *ngIf="doc.get('uploadedFile')?.errors?.['required']">
                          File upload is required
                        </div>

                      </td>
                      <td>
                        <input type="date" class="form-control form-control-sm" formControlName="uploadDate">
                      </td>
                      <td>
                        <input class="form-control form-control-sm" formControlName="uploadedFileExtention" readonly>
                      </td>

                      <td class="text-center">
                        <button type="button" class="btn btn-sm btn-outline-danger" (click)="removeDocumentRow(i)"
                          title="Remove Row"> ✕ </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>